$yellow: #FFE500;
$red: #FF1E38;
$green: #75FB9A;

:root {
  --accent-color: $red;
  --background-color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
  font-family: Arcon, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

a {
  font-family: Moon, Verdana, Arial, Helvetica, sans-serif;
  font-weight: light;
  font-size: 18px;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

.omg-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 160px;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  & .omg-logo {
    height: 60px;
    padding-left: 50px;
    flex: 1 1 40%;
    display: flex;
    align-items: center;

    & .omg-logo__img {
      height: 100%;
      margin-right: 15px;
    }
  }

  & .main-nav {
    display: flex;
    align-items: center;
    flex: 1 1 60%;
    height: 60px;

    & ul {
      width: 100%;
      height: 60px;
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      align-content: space-between;
      align-items: center;
      padding-right: 50px;
      justify-content: flex-end;

      & li {
        flex-grow: 1;
        display: flex;
        align-content: center;

        & a {
          position: relative;
          left: 0;
          width: 100%;
          text-align: right;
          color: #000;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 120ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
          
          &:hover {
            text-decoration: none;
            color: var(--accent-color);
            left: 8px;
          }
        }
      }
    }
  }

  & .main-nav__toggle {
    position: relative;
    right: 50px;
    display: none;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    box-shadow: none;

    & img {
      width: 100%;
    }
  }
}

.main-content {
  display: flex;
  position: relative;
  top: 200px;
  width: 100%;
  min-height: calc(100% - 440px);

  &.contact {
    padding-left: 25%;
    flex-flow: column;
  }

  & .alert {
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    min-width: 250px;
    min-height: 80px;
    padding: 0 50px;
    cursor: pointer;
    opacity: 1;
    transform: translateX(0);
    border-radius: 2px;
    background-color: var(--accent-color);
    color: var(--background-color);
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */    

    &.hidden {
      opacity: 0;
      transform: translateX(10px);
    }
  }

  & .notices {
    width: 75%;
  }

  & form {
    width: 75%;

    & .pure-button.pure-button-primary {
      padding: 15px 50px;
      font-family: Moon, Verdana, Arial, Helvetica, sans-serif;
      font-weight: bold;
      
      background-color: var(--accent-color);
      color: var(--background-color);
    }

    & .form-field {
      display: flex;
      padding: 10px;

      & .form-label {
        display: flex;
        flex: 1 1 20%;
        align-content: center;
        justify-content: flex-end;
        padding-right: 25px;
      }

      & .form-data {
        flex: 1 1 80%;
      }

      & input,
      & textarea {
        flex: 1 1 100%;
        width: 100%;
        padding: 15px;
        border-radius: 2px;
        background: #eee;
        border-color: transparent;
        box-shadow: none;
        
        &:focus {
          border-color: var(--accent-color);

          &:invalid {
            border-color: $red;
          }
        }
      }
    }
    
    & .buttons {
      display: flex;
      flex: 1 1 20%;
      align-content: center;
      justify-content: flex-end;
      padding-top: 25px;
      padding-right: 10px;
    }
  }
}

.main-wrapper {
  width: 100%;
  padding: 0 20%;
}

.content-wrapper {
  width: 25%;
  padding: 0 15px 50px 50px;
}

.omg-footer {
  position: relative;
  top: 400px;
  height: 200px;
  display: flex;
  padding: 0 50px;
  background: var(--accent-color);

  & ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    & li {
      padding: 0 25px;
      display: flex;
      align-content: center;

      &:last-of-type {
        padding-right: 0;
      }

      & a {
        width: 100%;
        min-width: 80px;      
        display: flex;
        justify-content: center;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        align-items: center;

        & svg {
          width: 60px;
          height: 60px;
          transition: all 120ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

          &.ig-icon {
            width: 70px;
            height: 70px;
          }
        }

        &:hover,
        &:focus {
          text-decoration: none;
        
          & svg {
            width: 70px;
            height: 70px;

            &.ig-icon {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
}

/************* GRID */
.grid-wrapper {
  width: 100%;
  padding: 0 15%;
}

.content-wrapper + .grid-wrapper {
  width: 75%;
  padding: 0;
  padding-right: 50px;
}

.grid-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 18vw;

  & .item {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;

    & a {
      width: 100%;
      height: 100%;
      color: #000;

      &:hover,
      &:focus {
        & .item__info {
          opacity: 1;
        }
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .item__info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding: 0;
      overflow: hidden;
      padding: 15px;
      border: 15px solid #FFFFFF;
      background: #FFFFFF;
      transition: all 180ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
      
      & h2,
      & p {
        padding: 0;
        margin: 0;
      }
    }

    &:not(:nth-child(2n)):not(:nth-child(3n)) {
      & .item__info {
        height: 0;
        width: 100%;
      }

      & a:hover,
      & a:focus {
        & .item__info {
          background: $green;
          color: #000000;
          height: 30%;
          min-height: 200px;          
          width: 100%;
          border-top: none;
        }
      }
    }

    &:nth-child(2n):not(:nth-child(3n)) {
      & .item__info {
        width: 0;
        height: 100%;
      }

      & a:hover,
      & a:focus {
        & .item__info {
          background: $red;
          color: #FFFFFF;
          width: 50%;
          min-width: 200px;
          border-right: none;          
        }
      }
    }

    &:nth-child(3n) {
      & .item__info {
        background: $yellow;
        color: #000000;
        height: 0;
        width: 100%;
        bottom: unset;
        top: 0;
        border-bottom: none;        
      }

      & a:hover,
      & a:focus {
        & .item__info {
          background: $yellow;
          color: #000000;
          height: 30%;
          min-height: 200px;          
          width: 100%;
        }
      }
    }

    &.item--small {
      grid-column: span 1;
      grid-row: span 1;
    }

    &.item--medium {
      grid-column: span 1;
      grid-row: span 2;
    }

    &.item--large {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

@media screen and (max-width: 600px) {
  html, body {height: 100%; }
  body.overlay {
    overflow: hidden;

    & .omg-header {      
      & .main-nav {
        display: block;
        position: fixed;
        top: 160px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: #FFFFFF;
        z-index: 5;

        & ul {
          height: 100%;
          flex-flow: column;
          align-items: flex-end;
          justify-content: flex-start;
          padding-right: 50px;

          & li {
            flex: 0 1 60px;
          }
        }
      }
    }
  }

  .omg-header {
    & .main-nav {
      display: none;
    }

    & .main-nav__toggle {
      display: flex;
    }
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc(50vw - 20px);
  }

  .grid-wrapper {
    padding: 0 10px;
  }

  .main-wrapper {
    width: 100%;
    padding: 0 50px;
  }

  .main-content {
    flex-flow: column;
    width: 100%;

    &.contact {
      padding: 0 50px;

      & form {
        width: 100%;

        & .form-field {
          flex-flow: column;
          padding: 0 0 25px 0;

          & .form-label {
            padding: 0 0 0 15px;
            justify-content: flex-start;
          }
        }

        & .buttons {
          padding: 0;
        }
      }
    }

    & .grid-wrapper {
      width: 100%;
      padding: 0 10px;      
    }

    & .content-wrapper {
      width: 100%;
      padding: 0 50px;
    }
  }

  .omg-footer {
    & ul {
      & li {
        padding: 0 5px;

        & a {
          min-width: 60px;
        }
      }
    }
  }
}