$yellow: #FFE500;
$red: #FF1E38;
$green: #75FB9A;

*,
*:before,
*:after {
  box-sizing: border-box !important;
  font-family: Arcon, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a {
  font-family: Moon, Verdana, Arial, Helvetica, sans-serif;
  font-weight: light;
  font-size: 18px;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

.omg-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  & .omg-logo {
    height: 60px;
    padding-left: 25px;
    flex: 1 1 40%;
    display: flex;
    align-items: center;

    & .omg-logo__img {
      height: 100%;
      margin-right: 15px;
    }
  }

  & .main-nav {
    display: flex;
    align-items: center;
    flex: 1 1 60%;
    height: 60px;

    & ul {
      width: 100%;
      height: 60px;      
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      align-content: space-between;
      align-items: center;

      & li {
        flex-grow: 1;
        display: flex;
        align-content: center;

        & a {
          width: 100%;
          text-align: center;
          color: #000;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.main-content {
  display: flex;
  position: relative;
  top: 120px;
  width: 100%;
  min-height: calc(100% - 440px);
}

.main-wrapper {
  width: 80%;
  padding: 0 20%;
}

.content-wrapper {
  width: 35%;
  padding: 25px;
}

.omg-footer {
  position: relative;
  top: 240px;
  height: 200px;
  display: flex;
  padding: 0 20%;
  background: rgba(0, 0, 0, 0.05);

  & ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;

    & li {
      flex-grow: 1;
      display: flex;
      align-content: center;

      & a {
        width: 100%;
        display: flex;
        text-align: center;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/************* GRID */
.grid-wrapper {
  width: 100%;
  padding: 0 15%;
}

.content-wrapper + .grid-wrapper {
  width: 70%;
  padding: 0;
}

.grid-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 18vw;

  & .item {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;

    & a {
      width: 100%;
      height: 100%;
      color: #000;

      &:hover,
      &:focus {
        & .item__info {
          opacity: 1;

          & h2,
          & p {
            text-decoration: underline;
          }
        }
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .item__info {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding: 0;
      overflow: hidden;
      padding: 15px;
      border: 15px solid #FFFFFF;
      background: #FFFFFF;
      transition: all 120ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

      & h2,
      & p {
        padding: 0;
        margin: 0;
      }
    }

    &:not(:nth-child(2n)):not(:nth-child(3n)) {
      & .item__info {
        height: 0;
        width: 100%;
      }

      & a:hover,
      & a:focus {
        & .item__info {
          background: $green;
          color: #000000;
          height: 100%;
          width: 100%;          
        }
      }
    }

    &:nth-child(2n):not(:nth-child(3n)) {
      & .item__info {
        width: 0;
        height: 100%;
      }

      & a:hover,
      & a:focus {
        & .item__info {
          background: $red;
          color: #FFFFFF;
          width: 100%;
        }
      }
    }

    &:nth-child(3n) {
      & .item__info {
        background: $yellow;
        color: #000000;
        height: 0;
        width: 100%;
        bottom: unset;
        top: 0;
      }

      & a:hover,
      & a:focus {
        & .item__info {
          background: $yellow;
          color: #000000;
          height: 100%;
          width: 100%;          
        }
      }
    }

    &.item--small {
      grid-column: span 1;
      grid-row: span 1;
    }

    &.item--medium {
      grid-column: span 1;
      grid-row: span 2;
    }

    &.item--large {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 20vw;
  }
}